
{% extends "layout.html" %}

{% block page_title %}
   [Project] - Scenarios
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
   {% include "includes/phase_banner_alpha.html" %}
  </div>
  
  <div class="logo">
        <span style="white-space:nowrap" class="organisation-logo organisation-logo-medium">HM Revenue &amp; Customs</span>
  </div>
  
  <h1 class="form-title heading-large">Scenarios for [Project]</h1>  

  <p>This page would be enhanced to contain the scenarios required for the different journeys through the Project.</p>

  <ul class="list-bullet">
    <li><a href="/examples/about-service">Example basic flow without session or pre-population. Hard coded summary results.</a></li>
    <li><a href="/examples/about-service-session">Example flow with session persistence and pre-population of summary details.</a></li>
  </ul>

  <br/>

</main><!-- / #page-container -->

{% endblock %}